<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="click.bcyeon.back01.restapi.board.mapper.BoardMapper">

    <select id="selectBoardList" resultType="click.bcyeon.back01.restapi.board.dto.BoardDto">
        select id,
               nickname,
               content,
               is_admin as isAdmin,
               created_at
        from board
        where is_deleted = false
        order by created_at desc
    </select>

    <insert id="insertBoard">
        insert into board(
            nickname,
            password,
            content,
            is_admin
        )values(
            #{nickname},
            #{password},
            #{content},
            #{isAdmin}
        )
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectPostCountByBoardDto" resultType="int">
        select count(*) from board
        where id = #{id}
        and password = #{password}
        and is_deleted = false
    </select>

    <update id="deletePost">
        update board
        set is_deleted = true
        where id = #{id}
    </update>
</mapper>