.footer {
    width: 100%;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    color: #777;
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
}

.footer p{
    margin: 0;
}